mixin button-element(link='')
  a.details__button(href=`${link}`)
    svg.details__icon: use(href=`${require('@images/icons_sprite.svg')}#follow`)

mixin details-button(text, link, flipped=false)
  label.details__follow 
    if flipped
      .details__button-text= text
      +button-element(link)
    else
      +button-element(link)
      .details__button-text= text